<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>DemographicSelector.java Test</title>
	<style>
body div {
	margin: 1em;
}

div {
	margin: .5em;
}
</style>
</h:head>
<h:body>

	<p>
		<h:link value='Home' outcome="/index" />
	</p>

	<h2>Synopsis</h2>
	<div>
		This page tests
		<code>DemographicSelector.java</code>
	</div>

	<h2>Form</h2>
	<div style='text-align:right; width:20em;'>
		<h:form>
			<div>
				Race
				<h:selectOneMenu value="#{demographicSelector.current.race}">
					<f:selectItems value="#{demographicSelector.races}" />
				</h:selectOneMenu>
			</div>
			<div>
				Gender
				<h:selectOneMenu value="#{demographicSelector.current.gender}">
					<f:selectItems value="#{demographicSelector.genders}" />
				</h:selectOneMenu>

			</div>
			<div>
				Disadva
				<h:selectOneMenu value="#{demographicSelector.current.disadva}">
					<f:selectItems value="#{demographicSelector.disadvas}" />
				</h:selectOneMenu>
			</div>
			<div>
				Disabil
				<h:selectOneMenu value="#{demographicSelector.current.disabil}">
					<f:selectItems value="#{demographicSelector.disabils}" />
				</h:selectOneMenu>
			</div>
			<div>
				LEP
				<h:selectOneMenu value="#{demographicSelector.current.lep}">
					<f:selectItems value="#{demographicSelector.leps}" />
				</h:selectOneMenu>
			</div>
			<h:commandButton value='Submit' />
		</h:form>
	</div>

	<h2>Output</h2>
	<div>
		<div>
			Race :
			<h:outputText value='#{demographicSelector.current.race}' />
		</div>

		<div>
			Gender :
			<h:outputText value='#{demographicSelector.current.gender}' />
		</div>

		<div>
			Disabil :
			<h:outputText value='#{demographicSelector.current.disabil}' />
		</div>

		<div>
			Diadva :
			<h:outputText value='#{demographicSelector.current.disadva}' />
		</div>

		<div>
			LEP :
			<h:outputText value='#{demographicSelector.current.lep}' />
		</div>

		<div>
			Key :
			<h:outputText value='#{demographicSelector.current.key}' />
		</div>
	</div>

</h:body>
</html>