<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Dynamic Chart Test</title>

	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>

	<h:outputScript library="js" name="chart-helper.js" />


	<style>
body div {
	margin: 1em;
}

div {
	margin: .5em;
}

.form {
	display: inline-block;
	float: left;
	border: thin solid darkgreen;
	margin: 1em;
	padding: 1em;
}

.chart {
	clear: both;
	height: 20em;
}

td, th {
	text-align: center;
	padding: .5em;
}

</style>
</h:head>
<h:body>

	<p>
		<h:link value='Home' outcome="/index" />
	</p>

	<h2>Synopsis</h2>
	<div>This page tests ResultSet to HTML table generation to JS
		Chart generation.</div>

	<div class='form'>
		<h2>Form 1 | School</h2>
		<div>
			<h:form>
	School Like: <h:inputText value="#{schoolSelector.likeText}" />
				<h:commandButton value="like"
					actionListener="#{schoolSelector.doLike}" />
				<h:commandButton value="key"
					actionListener="#{schoolSelector.doKey}" />
			</h:form>
		</div>

		<h2>Output</h2>
		<div>
			<div>SCH_PK : #{schoolSelector.current.sch_pk}</div>
			<div>SCH_NUM : #{schoolSelector.current.sch_num}</div>
			<div>DIV_NUM : #{schoolSelector.current.div_num}</div>
			<div>SCH_NAME : #{schoolSelector.current.sch_name}</div>
			<div>DIV_NAME : #{schoolSelector.current.div_name}</div>
		</div>
	</div>

	<div class='form'>
		<h2>Form 2 | Demographic</h2>
		<div style='text-align: right; width: 10em;'>
			<h:form>
				<div>
					Race
					<h:selectOneMenu value="#{demographicSelector.current.race}">
						<f:selectItems value="#{demographicSelector.races}" />
					</h:selectOneMenu>
				</div>
				<div>
					Gender
					<h:selectOneMenu value="#{demographicSelector.current.gender}">
						<f:selectItems value="#{demographicSelector.genders}" />
					</h:selectOneMenu>

				</div>
				<div>
					Disadva
					<h:selectOneMenu value="#{demographicSelector.current.disadva}">
						<f:selectItems value="#{demographicSelector.disadvas}" />
					</h:selectOneMenu>
				</div>
				<div>
					Disabil
					<h:selectOneMenu value="#{demographicSelector.current.disabil}">
						<f:selectItems value="#{demographicSelector.disabils}" />
					</h:selectOneMenu>
				</div>
				<div>
					LEP
					<h:selectOneMenu value="#{demographicSelector.current.lep}">
						<f:selectItems value="#{demographicSelector.leps}" />
					</h:selectOneMenu>
				</div>
				<h:commandButton value='Submit' />
			</h:form>
		</div>

		<h2>Output</h2>
		<div>#{demographicSelector.current}</div>
	</div>

	<div class='form'>
		<h2>Enrollment Table</h2>
		<h:form id='table-form'>
			<div>
				<h:commandLink value="show" actionListener="#{runTable.toggleShow}"
					rendered="#{!runTable.show}">
				</h:commandLink>
				<h:dataTable id='table' value="${enrollmentVelocityReport.query()}"
					var="item" disabled='#{schoolSelector.current.sch_pk != null}'
					rendered="#{runTable.show}">
					<f:facet name='header'>
						<p>#{schoolSelector.current.div_name} |
							#{schoolSelector.current.sch_name}</p>
					Demographic: #{demographicSelector.current}
				</f:facet>
					<h:column>
						<f:facet name='header'> Year </f:facet>
					#{item.sch_year}
				</h:column>
					<h:column>
						<f:facet name='header'> Count </f:facet>
					#{item.fall_cnt}
				</h:column>
					<h:column>
						<f:facet name='header'> Global </f:facet>
					#{item.all_cnt}
				</h:column>
					<h:column>
						<f:facet name='header'> Weight </f:facet>
					#{item.dem_weight}
				</h:column>
					<h:column>
						<f:facet name='header'> Change </f:facet>
					#{item.diff_cnt}
				</h:column>
					<h:column>
						<f:facet name='header'> Growth </f:facet>
					#{item.growth}
				</h:column>
					<h:column>
						<f:facet name='header'> Growth <br /> Weighted </f:facet>
					#{item.growth_weight}
				</h:column>
				</h:dataTable>
			</div>
		</h:form>
	</div>
	<div id='chart' data-chart="true" data-table="table-form:table"
		data-title="Demographic Population" data-header-row="1"
		data-axis-x="Year" data-axis-y="Students"
		data-columns="Count,Global,Change" data-axis-x-type="int"></div>

	<div id='chart2' data-chart="true" data-table="table-form:table"
		data-title="Demographic Ratio" data-header-row="1" data-axis-x="Year"
		data-axis-y="Percentage" data-columns="Growth,Weight, Growth Weighted"
		data-axis-x-type="float"></div>

	<script type="text/javascript">
		function drawCharts() {
			drawChart("#chart")
			drawChart("#chart2")
		}

		window.onload = function() {
			google.charts.load('current', {
				'packages' : [ 'corechart', 'line' ]
			})
			google.charts.setOnLoadCallback(drawCharts);
		}
	</script>
</h:body>
</html>