<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Enrollment Table Test</title>
	<style>
body div {
	margin: 1em;
}

div {
	margin: .5em;
}

.form {
	display: inline-block;
	float: left;
	border: thin solid darkgreen;
	margin: 1em;
	padding: 1em;
}

td, th {
	text-align: center;
	padding: .5em;
}
</style>
</h:head>
<h:body>

	<p>
		<h:link value='Home' outcome="/index" />
	</p>

	<h2>Synopsis</h2>
	<div>This page tests ResultSet to HTML table generation.</div>

	<div class='form'>
		<h2>Form 1 | School</h2>
		<div>
			<h:form>
	School Like: <h:inputText value="#{schoolSelector.likeText}" />
				<h:commandButton value="like"
					actionListener="#{schoolSelector.doLike}" />
				<h:commandButton value="key"
					actionListener="#{schoolSelector.doKey}" />
			</h:form>
		</div>

		<h2>Output</h2>
		<div>
			<div>SCH_PK : #{schoolSelector.current.sch_pk}</div>
			<div>SCH_NUM : #{schoolSelector.current.sch_num}</div>
			<div>DIV_NUM : #{schoolSelector.current.div_num}</div>
			<div>SCH_NAME : #{schoolSelector.current.sch_name}</div>
			<div>DIV_NAME : #{schoolSelector.current.div_name}</div>
		</div>
	</div>

	<div class='form'>
		<h2>Form 2 | Demographic</h2>
		<div style='text-align: right; width: 20em;'>
			<h:form>
				<div>
					Race
					<h:selectOneMenu value="#{demographicSelector.current.race}">
						<f:selectItems value="#{demographicSelector.races}" />
					</h:selectOneMenu>
				</div>
				<div>
					Gender
					<h:selectOneMenu value="#{demographicSelector.current.gender}">
						<f:selectItems value="#{demographicSelector.genders}" />
					</h:selectOneMenu>

				</div>
				<div>
					Disadva
					<h:selectOneMenu value="#{demographicSelector.current.disadva}">
						<f:selectItems value="#{demographicSelector.disadvas}" />
					</h:selectOneMenu>
				</div>
				<div>
					Disabil
					<h:selectOneMenu value="#{demographicSelector.current.disabil}">
						<f:selectItems value="#{demographicSelector.disabils}" />
					</h:selectOneMenu>
				</div>
				<div>
					LEP
					<h:selectOneMenu value="#{demographicSelector.current.lep}">
						<f:selectItems value="#{demographicSelector.leps}" />
					</h:selectOneMenu>
				</div>
				<h:commandButton value='Submit' />
			</h:form>
		</div>

		<h2>Output</h2>
		<div>
			#{demographicSelector.current}
		</div>
	</div>

	<div class='form'>
		<h2>Enrollment Table</h2>
		<div>
			<h:form>
				<h:commandLink value="show" actionListener="#{runTable.toggleShow}"
					rendered="#{!runTable.show}">
				</h:commandLink>
				<h:dataTable id='table' value="${enrollmentVelocityReport.query()}"
					var="item" disabled='#{schoolSelector.current.sch_pk != null}'
					rendered="#{runTable.show}">
					<f:facet name='header'>
					Enrollment for (#{schoolSelector.current.sch_name}, dem_pk := #{demographicSelector.current.key})
				</f:facet>
					<h:column>
						<f:facet name='header'> Year </f:facet>
					#{item.sch_year}
				</h:column>
					<h:column>
						<f:facet name='header'> Count </f:facet>
					#{item.fall_cnt}
				</h:column>
					<h:column>
						<f:facet name='header'> Global </f:facet>
					#{item.all_cnt}
				</h:column>
					<h:column>
						<f:facet name='header'> Weight </f:facet>
					#{item.dem_weight}
				</h:column>
					<h:column>
						<f:facet name='header'> Change </f:facet>
					#{item.diff_cnt}
				</h:column>
					<h:column>
						<f:facet name='header'> Growth </f:facet>
					#{item.growth}
				</h:column>
					<h:column>
						<f:facet name='header'> Growth <br /> Weighted </f:facet>
					#{item.growth_weight}
				</h:column>
				</h:dataTable>
			</h:form>
		</div>
	</div>
</h:body>
</html>