<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Chart Rendering Test</title>

	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>

	<h:outputScript library='js' name='chart-helper.js' />

	<style>
body div {
	margin: 1em;
}

div {
	margin: .5em;
}

.form {
	display: inline-block;
	float: left;
	border: thin solid darkgreen;
	margin: 1em;
	padding: 1em;
}

td, th {
	text-align: center;
	padding: .5em;
}

.chart {
	height: 20em;
}
</style>

</h:head>
<h:body>

	<p>
		<h:link value='Home' outcome="/index" />
	</p>

	<h2>Synopsis</h2>
	<div>This page tests Google Chart generation from JSF
		h:dataTable.</div>

	<h2>h:dataTable</h2>
	<table id='table'>
		<thead>
			<tr>
				<th colspan="7" scope="colgroup">Enrollment for (Spotswood
					High, dem_pk := 46)</th>
			</tr>
			<tr>
				<th scope="col">Year</th>
				<th scope="col">Count</th>
				<th scope="col">Global</th>
				<th scope="col">Weight</th>
				<th scope="col">Change</th>
				<th scope="col">Growth</th>
				<th scope="col">Growth <br /> Weighted
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2014</td>
				<td>17</td>
				<td>845</td>
				<td>0.02</td>
				<td>-5</td>
				<td>-0.23</td>
				<td>0.0</td>
			</tr>
			<tr>
				<td>2013</td>
				<td>22</td>
				<td>900</td>
				<td>0.02</td>
				<td>6</td>
				<td>0.38</td>
				<td>0.01</td>
			</tr>
			<tr>
				<td>2012</td>
				<td>16</td>
				<td>837</td>
				<td>0.02</td>
				<td>-2</td>
				<td>-0.11</td>
				<td>0.0</td>
			</tr>
			<tr>
				<td>2011</td>
				<td>18</td>
				<td>812</td>
				<td>0.02</td>
				<td>-1</td>
				<td>-0.05</td>
				<td>0.0</td>
			</tr>
			<tr>
				<td>2010</td>
				<td>19</td>
				<td>834</td>
				<td>0.02</td>
				<td>-26</td>
				<td>-0.58</td>
				<td>-0.02</td>
			</tr>
			<tr>
				<td>2009</td>
				<td>45</td>
				<td>1361</td>
				<td>0.03</td>
				<td>-7</td>
				<td>-0.13</td>
				<td>-0.01</td>
			</tr>
			<tr>
				<td>2008</td>
				<td>52</td>
				<td>1360</td>
				<td>0.04</td>
				<td>-3</td>
				<td>-0.05</td>
				<td>0.0</td>
			</tr>
			<tr>
				<td>2007</td>
				<td>55</td>
				<td>1356</td>
				<td>0.04</td>
				<td>2</td>
				<td>0.04</td>
				<td>0.0</td>
			</tr>
			<tr>
				<td>2006</td>
				<td>53</td>
				<td>1383</td>
				<td>0.04</td>
				<td>0</td>
				<td>0.0</td>
				<td>0.0</td>
			</tr>
		</tbody>
	</table>

	<div id='chart' data-chart="true" data-table="table"
		data-title="Demographic Population" data-header-row="1"
		data-axis-x="Year" data-axis-y="Students"
		data-columns="Count,Global,Change" data-axis-x-type="int"></div>

	<div id='chart2' data-chart="true" data-table="table"
		data-title="Demographic Ratio" data-header-row="1" data-axis-x="Year"
		data-axis-y="Percentage" data-columns="Growth,Weight, Growth Weighted"
		data-axis-x-type="float"></div>

	<script type="text/javascript">
		function drawCharts() {
			drawChart("#chart")
			drawChart("#chart2")
		}

		window.onload =function() {
			google.charts.load('current', {
				'packages' : [ 'corechart', 'line' ]
			})
			google.charts.setOnLoadCallback(drawCharts);			
		}
	</script>
</h:body>
</html>