<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>SchoolSelector.java Test</title>
	<style>
body div {
	margin: 1em;
}

div {
	margin: .5em;
}
</style>
</h:head>
<h:body>

	<p>
		<h:link value='Home' outcome="/index" />
	</p>

	<h2>Synopsis</h2>
	<div>
		This page tests
		<code>SchoolSelector.java</code>
	</div>

	<h2>Form</h2>
	<div>
		<h:form>
	School Like: <h:inputText value="#{schoolSelector.likeText}" />
			<h:commandButton value="like"
				actionListener="#{schoolSelector.doLike}" />
			<h:commandButton value="key" actionListener="#{schoolSelector.doKey}" />
		</h:form>
	</div>

	<h2>Output</h2>
	<div>
		<div>SCH_PK : #{schoolSelector.current.sch_pk}</div>
		<div>SCH_NUM : #{schoolSelector.current.sch_num}</div>
		<div>DIV_NUM : #{schoolSelector.current.div_num}</div>
		<div>SCH_NAME : #{schoolSelector.current.sch_name}</div>
		<div>DIV_NAME : #{schoolSelector.current.div_name}</div>
	</div>

</h:body>
</html>