<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Facelet Title</title>
</h:head>
<h:body>
    Hello from ${me.name}
    
	<h3>TOC:</h3>
	<ul>
		<h:link value='Test : SchoolSelector.java'
			outcome="tests/school-selector" />
	</ul>

	<ul>
		<h:link value='Test : DemographicSelector.java'
			outcome="tests/demographic-selector" />
	</ul>

	<ul>
		<h:link value='Test : Enrollment Table' outcome="tests/enrollment-velocity-table" />
	</ul>

	<ul>
		<h:link value='Test : Table to Chart' outcome="tests/ev-chart" />
	</ul>
	
		<ul>
		<h:link value='Test : Dynamic Chart' outcome="tests/dynamic-chart" />
	</ul>
</h:body>
</html>

<!--source href='https://musingsinjava.wordpress.com/2014/11/02/enabling-jsf-2-2-and-cdi-1-2-on-tomcat-8/' -->